// Navigation Styles here
.home {

    .navigation {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            width: 100%;
            border-bottom: 3px dotted lightblue;

            .logo {
                width: 50%;
                padding: 2% 0;
            }
    
            nav {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                padding: 3% 0;
    
                a {
                    display: flex;
                    flex-direction: row;
                    width: 25%;
                    padding-right: 2%;
                }
            }
        }

        .image {
            width: 100%;
        }

        .content-section {

            border-bottom: 3px dotted lightblue;

            h2 {
                padding: 1% 0;
            }
        }
    }
}